<div class="container">

  <nav class="navbar">

    <div class="icon" routerLink="/hipertensao">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
      </svg>
    </div>

    <h1 class="title__large"> Alimentos transgênicos: Riscos à saúde</h1>
    <h1 class="title__small"> Riscos à saúde </h1>

  </nav>

  <main>

    <section class="section__one">

      <div class="section__img">

        <img src="./../../../../assets/img/riscos/riscoasaude01.jpg" alt="">

      </div>

      <div class="section__content">
        <p class="section__paragraph01">Estudos mostram que ouve um aumento de 50% na alergia em produtos à base de soja devido à soja geneticamente modificada.</p>
        <p class="section__paragraph02">Nos Estados Unidos foi registrado muitas reações em pessoas alérgicas, e com isso foi impedido o comercio de soja que possuía gene de castanha-do-pará, que por sua vez é um famoso alergênico.</p>
      </div>

    </section>

    <section class="section__two section__two--web">

      <div class="section__content">
        <p class="section__paragraph01">Para se certificar de que a modificação genética "deu certo", os cientistas inserem genes (chamados marcadores) de bactérias resistentes a antibióticos.</p>
        <p class="section__paragraph02">Isso pode provocar o aumento da resistência a antibióticos nos seres humanos que ingerem esses alimentos, assim reduzindo ou anulando a eficácia dos remédios à base de antibióticos.</p>
      </div>

      <div class="section__img">

        <img src="./../../../../assets/img/riscos/riscoasaude02.jpg" alt="">

      </div>

    </section>

    <section class="section__two section__two--mobile">

      <div class="section__img">

        <img src="./../../../../assets/img/riscos/riscoasaude02.jpg" alt="">

      </div>

      <div class="section__content">
        <p class="section__paragraph01">Para se certificar de que a modificação genética "deu certo", os cientistas inserem genes (chamados marcadores) de bactérias resistentes a antibióticos.</p>
        <p class="section__paragraph02">Isso pode provocar o aumento da resistência a antibióticos nos seres humanos que ingerem esses alimentos, assim reduzindo ou anulando a eficácia dos remédios à base de antibióticos.</p>
      </div>

    </section>

    <section class="section__one">

      <div class="section__img">

        <img src="./../../../../assets/img/riscos/riscoasaude03.jpg" alt="">

      </div>

      <div class="section__content">
        <p class="section__paragraph01">Com a inserção de genes de resistência a agrotóxicos em certos produtos transgênicos, as pragas e as ervas-daninhas poderão desenvolver a mesma resistência, tornando-se "super-pragas" e "super-ervas".</p>
        <p class="section__paragraph02">Consequentemente, haverá necessidade de aplicação de maiores quantidades de veneno nas plantações, o que representa maior quantidade de resíduos tóxicos nos alimentos que nós consumimos.</p>
      </div>

    </section>

  </main>

</div>
