<div class="container">

  <nav class="navbar">

    <div class="icon" routerLink="/hipertensao">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
      </svg>
    </div>

    <h1 class="title__large">Curiosidades da Hipertensão </h1>
    <h1 class="title__small"> Hipertensão </h1>

  </nav>

  <main>

    <section class="section__one">

      <div class="section__img">

        <img src="./../../../../assets/img/hipertensao01.jpg" alt="">

      </div>

      <div class="section__content">
        <p class="section__paragraph01">Cerca de 38,1 milhões de brasileiros com 18 anos ou mais são afetados pela hipertensão arterial ou mais conhecida como pressão alta. </p>
        <p class="section__paragraph02">Embora seja um fator de risco, a hipertensão não ocorre apenas em pessoas obesas e sedentárias, assim, podendo afetar pessoas sem sobrepeso e ativas. </p>
      </div>

    </section>

    <section class="section__two">

      <div class="section__content">
        <p class="section__paragraph01">A hipertensão pode ser hereditária, cerca de 30% de pessoas com pais com pressão alta também serão hipertensas.  </p>
        <p class="section__paragraph02">A alimentação equilibrada é um dos pilares para evitar doenças cardíacas, o conjunto da atividade física e a alimentação saudável proporcionam a redução do excesso de gordura, a melhora da condição física, reduz o estresse e melhora o humor. </p>
      </div>

      <div class="section__img">

        <img src="./../../../../assets/img/hipertensao02.jpg" alt="">

      </div>

    </section>

  </main>

</div>
