*{
  user-select: none;
}

.container{
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--main-bg-color);
}

.navbar{
  background: linear-gradient(315deg,  #16a714,  #34a549);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 10;

  .icon{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 20px;
    cursor: pointer;
  }

  h1{
    color: #F0F0F0;
    font-size: 2rem;
    font-family: 'Poppins';
  }

  .title__small{
    display: none;
  }
}

@media (max-width: 650px) {
  .title__large{
    display: none;
  }

  .title__small{
    display: block !important;
  }
}

main{
  width: 70%;
  padding-top: 70px;

  section{
    width: 100%;
    padding-top: 3%;
  }

  .conteudo{
    display: flex;
  }

  .section-left, .section-right{
    img{
      width: 40%;
      border-radius: 20px;
      margin: auto;
    }

    .text-l, .text-r, .text-r-r{
      background-color: #7adb66;
      border-radius: 20px;
      width: 70%;
      font-family: 'Poppins';
      font-size: 1.3rem;
      text-align: justify;
      text-indent: 50px;
      padding: 4%;
      margin: auto;

      animation-name: moveB;
      animation-duration: 3s;
    }
  }

  .section-left{
    img{
      animation-name: moveR;
      animation-duration: 3s;
    }

    .text-l{
      margin-left: 5%;
    }
  }

  .section-right{
    padding-bottom: 1%;

    img{
      margin-left: 5%;

      animation-name: moveL;
      animation-duration: 3s;
    }
  }

  .esp{
    padding-top: 2%;
  }
}

@media(min-width: 1000px){
  .text-r-r{
    display: none !important;
  }
}

@media(max-width: 1000px){
  .conteudo{
    display: block !important;
  }

  img{
    width: 107.5% !important;
    margin: 0% !important;
  }

  .text-r{
    display: none !important;
  }

  .text-l, .text-r-r{
    width: 100% !important;
    margin: 0% !important;
    margin-top: 2% !important;
  }

  .section-right{
    padding-top: 25px;
  }
}

@keyframes moveB {
  from {
    transform: translateY(10rem);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes moveR {
  from {
    transform: translatex(-30rem);
  }

  to {
    transform: translatex(0);
  }
}

@keyframes moveL {
  from {
    transform: translatex(30rem);
  }

  to {
    transform: translatex(0);
  }
}
