<div class="container">
  <div class="navbar">
    <button routerLink="/hipertensao">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
      </svg>
    </button>

    <div class="Title">
      <h1>Sobre a hipertensão</h1>
    </div>

    <div class="Search">
      <div class="IconSe">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </div>

      <input type="text" placeholder="Pesquisar...">

    </div>

  </div>

  <div class="body">

    <div class="content">
      <div class="content_img">
        <div class="content_Text">
          <h1>CONHEÇA SOBRE A HIPERTENSÃO ARTERIAL</h1>

           <p>As Doenças Cardiovasculares (DCV) são a principal causa de morte nas Américas, e a Hipertensão Arterial (HA) é responsável por mais de 50% das DCV.</p>
        </div>

        <img src="https://www.galaxcms.com.br/imgs_crud_comum/4107/Aprendendo-sobre-a-Hipertensao-20210726135731.png" alt="">

        <div class="gradient"></div>
      </div>
    </div>

    <div class="content_two">
      <h1>População deve ter cuidado com a pressão alta</h1>
      <hr>
      <div class="content_inf">
        <div class="cards">
          <div class="card_img">
            <img src="https://static.mundoeducacao.uol.com.br/mundoeducacao/2021/02/hipertensao.jpg" alt="">
          </div>
          <div class="card_text">
            <p>
              <b>U</b>ma das doenças silenciosas que acometem a maioria da população mundial é a hipertensão arterial. Segundo dados da Sociedade Brasileira de Hipertensão (SBH), atualmente, 33% dos brasileiros sofrem com a doença, também conhecida como “pressão alta”. A hipertensão merece cuidado, pois a doença pode levar a outras conseqüências graves, como doenças cardiovasculares, acidentes vasculares e insuficiência renal.
            </p>
          </div>
        </div>
      </div>

      <div class="content_inf">
        <div class="cards_reverse">
          <div class="card_text">
            <p>
              <b>A</b> pressão arterial é responsável por empurrar o sangue bombeado pelo coração, pelas artérias, levando o suprimento necessário aos demais órgãos. Quando a pressão está alta, o coração faz mais força para bombear o sangue, porque com a idade as artérias ficam menos complacentes e oferecem mais resistência à sua passagem.
              <br>
              <b>E</b>sta força pode acarretar em lesões nas paredes das artérias, e resultar em um derrame (acidente vascular cerebral), a insuficiência cardíaca (coração grande) e a insuficiência renal (uremia). A hipertensão é uma das principais causas de doença renal e pode causar paralisação dos rins.
            </p>
          </div>
          <div class="card_img">
            <img src="https://www.mdsaude.com/wp-content/uploads/valor-pressao-arterial.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="content_inf">
        <div class="cards">
          <div class="card_img">
            <img src="https://static.mundoeducacao.uol.com.br/mundoeducacao/2021/02/hipertensao.jpg" alt="">
          </div>
          <div class="card_text">
            <p><b>Q</b>uando a pressão fica descontrolada, o coração é o órgão mais afetado. Como a circulação está prejudicada pelo aperto nas artérias coronárias, ele não recebe sangue e oxigenação suficientes um quadro que leva ao sofrimento do músculo cardíaco, podendo ocasionar o infarto.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
