<div class="body">
  <nav class="navbar">
    <div class="backButton" routerLink="/pneumonia">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
      </svg>
    </div>
    <h1 class="title">Sintomas da Pneumonia</h1>
  </nav>

  <div class="content">
    <div>
      <div class="mainText">
        Pneumonia silenciosa é quando o paciente acometido não sente quaisquer sintomas, podendo causar uma evolução rápida e grave da doença sem que a pessoa perceba. Não é algo comum, sendo a falta de sintomas típicos da pneumonia mais frequente em recém-nascidos, idosos e pacientes imunodeprimidos.
      </div>
        <ul class="list">
          <li *ngFor="let s of sintomas"><span>{{ s }}</span></li>
        </ul>
    </div>
  </div>
</div>
