<div class="body">
  <nav class="navbar">
    <div class="backButton" routerLink="/hipertensao">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
      </svg>
    </div>
    <h1 class="title">Sintomas da Hipertensão </h1>
  </nav>

  <div class="content">
    <div>
      <div class="mainText">
        A hipertensão é uma doença silenciosa. Se os sintomas abaixo surgirem, provavelmente ela já estará em fase mais avançada. O ideal, portanto, é detectá-la com exames.
      </div>
        <ul class="list">
          <li *ngFor="let s of sintomas"><span>{{ s }}</span></li>
        </ul>
    </div>
  </div>
</div>
