<div class="container">
  <nav class="navbar">
    <div class="icon" routerLink="/hipertensao">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
      </svg>
    </div>
    <h1 class="title__large">Benefícios dos alimentos trangênicos</h1>
    <h1 class="title__small">Benefícios</h1>
  </nav>
  <main>
    <section class="section__one">
      <div class="section__content">
        <p class="section__paragraph01">Os transgênicos buscam soluções sustentáveis para os desafios agrícolas e alimentares como, por exemplo, resistência à doenças e pragas e tolerância a estresses climáticos, como a baixa disponibilidade de umidade no solo. Algumas vantagens da aplicação dessa tecnologia na agricultura são:</p>
      </div>
    </section>

    <section class="section__one">
      <div class="section__img">
        <img src="./../../../../assets/img/beneficios/alimentos_nutritivos.webp" alt="">
      </div>

      <div class="section__content">
        <p class="section__paragraph01"><b>Alimentos ricos em nutrientes</b></p>
        <p class="section__paragraph02">Algumas técnicas de modificações genéticas podem ser utilizadas para aumentar a quantidade de nutrientes nos alimentos. O exemplo mais comum é o  arroz dourado, um grão modificado que é rico em betacaroteno, para ajudar o organismo que tem deficiência da vitamina A.</p>
      </div>
    </section>

    <section class="section__two section__two--web">
      <div class="section__content">
        <p class="section__paragraph01"><b>Preservação do meio ambiente</b></p>
        <p class="section__paragraph02">Com modificações que permitem a redução do uso de agrotóxicos, alguns transgênicos permitem que o agricultor utilize menos água para diluir os produtos – é o caso daqueles que são resistentes a insetos. Isso também contribui para a redução do uso de equipamentos para a pulverização dos defensivos e, consequentemente, diminui o uso de combustível, reduzindo significativamente a emissão de gases do efeito estufa, como o gás carbônico.</p>
      </div>

      <div class="section__img">
        <img src="./../../../../assets/img/beneficios/preservacao_ambiental.jpg" alt="">
      </div>
    </section>

    <section class="section__two section__two--mobile">
      <div class="section__img">
        <img src="./../../../../assets/img/beneficios/preservacao_ambiental.jpg" alt="">
      </div>

      <div class="section__content">
        <p class="section__paragraph01"><b>Preservação do meio ambiente</b></p>
        <p class="section__paragraph02">Com modificações que permitem a redução do uso de agrotóxicos, alguns transgênicos permitem que o agricultor utilize menos água para diluir os produtos – é o caso daqueles que são resistentes a insetos. Isso também contribui para a redução do uso de equipamentos para a pulverização dos defensivos e, consequentemente, diminui o uso de combustível, reduzindo significativamente a emissão de gases do efeito estufa, como o gás carbônico.</p>
      </div>
    </section>

    <section class="section__one">
      <div class="section__img">
        <img src="./../../../../assets/img/beneficios/aumento_produtividade.jpg" alt="">
      </div>

      <div class="section__content">
        <p class="section__paragraph01"><b>Aumento da produtividade</b></p>
        <p class="section__paragraph02">A combinação dos fatores citados acima proporcionam, ainda, vantagens em termos de produtividade, já que os transgênicos reduzem as perdas nas lavouras. Isso faz com que uma maior quantidade de alimentos estejam disponíveis, sem a necessidade de aumentar a área plantada.</p>
      </div>
    </section>

    <section class="section__two section__two--web">
      <div class="section__content">
        <p class="section__paragraph01"><b>Podem ajudar a combater a fome</b></p>
        <p class="section__paragraph02">Segundo documento da Organização das Nações Unidas para Alimentação e Agricultura (FAO), o mundo terá 2 bilhões de pessoas a mais para alimentar até 2030 e a biotecnologia (e os alimentos transgênicos), pode ajudar a enfrentar esse desafio.</p>
      </div>

      <div class="section__img">
        <img src="./../../../../assets/img/beneficios/combate_fome.webp" alt="">
      </div>
    </section>

    <section class="section__two section__two--mobile">
      <div class="section__img">
        <img src="./../../../../assets/img/beneficios/combate_fome.webp" alt="">
      </div>

      <div class="section__content">
        <p class="section__paragraph01"><b>Podem ajudar a combater a fome</b></p>
        <p class="section__paragraph02">Segundo documento da Organização das Nações Unidas para Alimentação e Agricultura (FAO), o mundo terá 2 bilhões de pessoas a mais para alimentar até 2030 e a biotecnologia (e os alimentos transgênicos), pode ajudar a enfrentar esse desafio.</p>
      </div>
    </section>
    <br><br>
  </main>
</div>
