<div class="container">

  <nav class="navbar">

    <div class="icon" routerLink="/pneumonia">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
      </svg>
    </div>

    <h1 class="title__large">Curiosidades da Pneumonia </h1>
    <h1 class="title__small"> Pneumonia </h1>

  </nav>

  <main>

    <section class="section__one">

      <div class="section__img">

        <img src="./../../../../assets/img/pneumonia01.jpg" alt="">

      </div>

      <div class="section__content">
        <p class="section__paragraph01">Qualquer pessoa pode desenvolver a doença, mas crianças com até cinco anos de idade, lactentes, idosos e pessoas com doenças cardiopulmonares são as mais vulneráveis. </p>
        <p class="section__paragraph02">Em 2015, a doença tirou a vida de 922.000 crianças menores de cinco anos em todo o mundo. Isto significa uma perda de mais de 2.500 crianças todos os dias, ou mais de 100 a cada hora. </p>
      </div>

    </section>

    <section class="section__two">

      <div class="section__content">
        <p class="section__paragraph01">Desde 2000, o número de mortes de crianças causadas por pneumonia diminuiu 47%. O enorme progresso feito é devido em parte ao rápido avanço de vacinas, melhor nutrição e melhoria de procura de cuidados e tratamento para os sintomas.  </p>
        <p class="section__paragraph02">Levar as crianças para um pediatra rapidamente pode salvar suas vidas, mas, em todo o mundo, apenas 3 em cada 5 crianças recebem a ajuda e os cuidados necessários. </p>
      </div>

      <div class="section__img">

        <img src="./../../../../assets/img/pneumonia02.jpg" alt="">

      </div>

    </section>

  </main>

</div>
