* {
  user-select: none;
}

.container {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--main-bg-color);
}

.navbar {
  background: linear-gradient(45deg, #FF2E00, #EA580C);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 10;

  .icon {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 20px;
    cursor: pointer;
  }

  h1 {
    color: #F0F0F0;
    font-size: 2rem;
    font-family: 'Poppins';
  }

  .title__small {
    display: none;
  }
}

@media (max-width: 650px) {
  .title__large {
    display: none;
  }

  .title__small {
    display: block !important;
  }
}

@media (min-width: 1080px) {
  section {
    display: flex;
  }

  .section__img {
    width: 75%;
  }

  .section__content {
    width: 100%;
  }

  p {
    text-align: start !important;
  }

  section {
    padding: 50px 50px 20px 50px !important;
  }

  .section__one {

    padding-top: 100px !important;

    p {
      margin-left: 50px !important;
      margin-top: 0 !important;
    }
  }

  .section__two {

    padding-top: 100px !important;

    p {
      margin-right: 50px !important;
      margin-bottom: 0 !important;
    }
  }
}

main {
  width: 1200px;
  margin-top: 70px;

  section {
    padding: 20px 50px 0 50px;
  }

  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.4);
  }

  p {
    font-family: 'Poppins';
    font-size: 1.4rem;
    margin-bottom: 20px;
    margin-top: 15px;
    text-indent: 50px;
    text-align: center;
  }

  .section__one {
    p {
      margin-top: 50px;
    }

    img {
      animation: moveLeft 1s forwards;
    }

    .section__paragraph01 {
      animation: moveRight 1.5s forwards;
    }

    .section__paragraph02 {
      animation: moveRight 2.5s forwards;
    }
  }

  .section__two {

    padding-bottom: 50px;

    p {
      margin-bottom: 50px;
    }

    img {
      animation: moveRight 1s forwards;
    }

    .section__paragraph01 {
      animation: moveLeft 1.5s forwards;
    }

    .section__paragraph02 {
      animation: moveLeft 2.5s forwards;
    }
  }


}

@keyframes moveRight {
  0% {
    transform: translatex(10rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translatex(-10rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
